input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.alert {
  color: red;
  padding: 12px;
}

.material-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}